.food-item {  
  width : 100% ;
  border-radius : 15px ;
    margin: auto;
  box-shadow: 0px 0px 8px #000015;
  transition: 3s ;

  animation: fadeIn 3s ;

}

.food-item-img {
  width : 100% ;
  height : 200px ;
  object-fit : cover ;
  border-radius : 15px 15px 0 0 ;
}

.food-item-info {
  padding : 15px ;
}

.food-item-name-rating{
  /* margin-top: 2px; */
  display: flex ;
  justify-content: space-between ;
  align-items: center ;
  margin-bottom: 10px ;
}

.food-item-name-rating p{
  font-size: 20px ;
  font-weight: 600 ;
  
}

.food-item-name-rating imp{
  width: 70px ;

}
.food-item-desc{
  color: #676767;
  font-size: 12px ;
}
.food-item-price{
  margin-top: 10px ;
  font-size: 22px ;
  font-weight: 500 ;
  color: tomato;
}

.food-item-img-container{
 position: relative;
}

.food-item-img-container .add {
width : 40px ;
position: absolute;
bottom: 15px ;
right: 15px ;
cursor: pointer;
border-radius: 50;
}

.food-item-counter{
  position: absolute;
  bottom: 15px ;
  right: 15px ;
  
  border-radius: 15px ;
  display: flex ;
  align-items: center ;
  gap: 10px ;
  padding: 6px ;
  background-color: white;
}

.food-item-counter img{
  width : 30px ;
  cursor: pointer;
}