.header {
  height: 34vw;
  margin: 30px auto;
  background: url("/header_img.png") no-repeat;
  background-size: contain;
  position: relative;
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 50%;
  gap: 1.5vw;
  bottom: 10%;
  left: 6vw;
  animation: fadeInUp 3s;
  /* transform: translateY(-50%); */
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  color: white;
  font-size: max(1.5vw, 14px);
  line-height: 1.4;
}

.header-contents button {
  background-color: white;
  color: #747474;
  font-size: max(1.5vw, 14px);
  padding: max(0.8vw, 8px) max(1.5vw, 12px);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: max(1vw, 13px);
  transition: all 0.3s ease;
}

.header-contents button:hover {
  background-color: #fff4f2;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 1050px) {


  .header-contents {
    max-width: 45%;
    bottom: 8%;
    left: 5vw;
  }

  
}

@media (max-width: 750px) {
  

  .header-contents {
    max-width: 65%;
   
  }

  /* .header-contents h2 {
    font-size: 20px;
  } */

  .header-contents p {
    display: none;
  }

  .header-contents button {
    padding: 2vw 4vw ;
   
  }
}
