.explore-menu {
  display: flex;
  gap: 20px;
  flex-direction: column;

}

.explore-menu h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #262626;
  font-weight: 600;
}
.explore-menu-text {
 max-width: 60%;
 color: #262626;
}
.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0;
  overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar {
  display: none;
  
}
.explore-menu-list-item {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
border-radius: 50%;
transition:  0.3s ;
}

.explore-menu-list-item p{
  margin-top: 10px;
  color: #747474;
  font-size: max(1.2vw, 12px);
  cursor: pointer;
}

.explore-menu hr{
  margin: 10px 20px;
  height: 2px;
  border: none;
  background-color: #e2e2e2;

}

.explore-menu-list-item .active{
  border: 4px solid tomato;
  padding: 2px;
  border-radius: 50%;


}